<!DOCTYPE html>
<html lang="en">
    <div class="animated-background">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Robot IMTA</title>
</head>
<header id="home-header">
    <img class="logo-coupe" src="./images/logo_coupe_2020.png" alt="logo_coupe_2020">
    <h5 class="title-header">Coupe de France de robotique</h5>

    <ul class="menu-header">
        <li class="page-link-item"><a href="./index.html">Accueil</a></li>
        <li class="page-link-item"><a href="./articles.html">Articles</a></li>
        <li class="page-link-item"><a href="./sponsors.html">Sponsors</a></li>
        <li class="page-link-item"><a href="./a_propos.html">A propos</a></li>
    </ul>

    <ul class="network-list">
        <!-- ATTENTION !! ordre inversé -->
        <li class="network-item"><a href="https://www.linkedin.com/school/imt-atlantique/"><img src="./images/linkedIn_logo.png" alt="linkedIn_logo"></a></li>
        <li class="network-item"><a href="https://www.youtube.com/c/IMTAtlantique/videos"><img src="./images/youtube_logo.png" alt="youtube_logo"></a></li>
        <li class="network-item"><a href="https://www.facebook.com/IMTAtlantique"><img src="./images/facebook_logo.png" alt="facebook_logo"></a></li>
    </ul>
    
</header>
<body>
    <div class="a-propos-page" id="a-propos-page">
        
        <section id="a-propos-section">
            <div class="title-section" id="a-propos-start">
                <h1>A propos</h1>
            </div>
            <div class="nantes">
                <h1 class="equipe-name">L'équipe nantaise</h1>
                <ul class="member-list">
                    <li class="wrapper" v-for="member in team_members_nantes_details">
                        <div class="team-member">
                            <div class="avatar-container"><img class="avatar" v-bind:src='member["avatar"]' alt="photo"></div>
                            <div class="details-member">
                                <h3 class="name">{{member["name"]}}</h3>
                                <h4 class="taf">{{member["taf"]}}</h4>
                                <h5 class="motiv">{{member["motiv"]}}</h5>
                                <h5 class="role">{{member["role"]}}</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="brest">
                <h1 class="equipe-name">L'équipe brestoise</h1>
                <ul class="member-list">
                    <li class="wrapper" v-for="member in team_members_brest_details">
                        <div class="team-member">
                            <div class="avatar-container"><img class="avatar" v-bind:src='member["avatar"]' alt="photo"></div>
                            <div class="details-member">
                                <h3 class="name">{{member["name"]}}</h3>
                                <h4 class="taf">{{member["taf"]}}</h4>
                                <h5 class="motiv">{{member["motiv"]}}</h5>
                                <h5 class="role">{{member["role"]}}</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </section>

        <section class="nav-page-1">
            <a href="#home-header"><button class="button-normal">Back to top</button></a>
        </section>
    </div>
    <script src="./main.js"></script>
    <script src="./vuejs.js"></script>
</body>
</html>