#articles-page {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 5vw;
	margin-right: 5vw;
	padding-bottom: 5vw;
}

.title-section {
	margin-left: 20vw;
	margin-right: 20vw;
}

.articles-list {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: initial;
	list-style: none;
}

.articles-list .wrapper {
	position: relative;
	margin: initial;
	margin-top: 10vh;
	display: flex;
	flex: 1;
	align-items: flex-start;
	flex-direction: row;
	border-bottom: 1px solid grey;
}

.article-container {
	background-color: #fafafa;
	position: relative;
	width: 100%;
	margin: initial;
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
}

.article-image {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
	width: 45vh;
	height: 45vh;
}

.article-image img {
	position: relative;
	margin-bottom: initial;
	z-index: -1;
}

.details-article {
	cursor: pointer;
	background-color: transparent;
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: justify;
	padding: 6vh;
	margin-top: initial;
	padding-top: initial;
	border-radius: initial;
	border: initial;
	height: 45vh;
}

.details-article .title {
	color: black;
}
.details-article .author {
	color: tomato;
}
.details-article .date {
	color: black;
}

.details-article .text {
	flex: 1;
	font-weight: 200;
	margin-top: initial;
	margin-bottom: initial;
	text-align: justify;
	font-weight: normal;
	text-overflow: "[...]";
	overflow: hidden;
	height: 40vh;
}

.article-container button {
	z-index: 4;
	position: absolute;
	top: 0%;
	right: 5%;
}

#article-solo-section {
	display: none;
	position: absolute;
	background-color: red;
	width: 80%;
	top: 10%;
	left: 10%;
	z-index: 5;
}

@media screen and (max-width: 140vh) {
	.article-image {
		display: none;
	}
}
